#register_form {
	width: 300px;
	margin: 0 auto;
	font-family: bob-regular;
    color: #003274;
}
#register_form ul {
	list-style-type: none;
}

h1 {
	font-size: 20px;
	text-decoration: underline;
	margin-bottom:10px;
	padding: 10px;
}
body {
	font-family:  Helvetica, Arial, Tahoma, Geneva,Sens-Sarif;
}
#register_form input[type='text'],
#register_form input[type='password'],
#register_form input[type='submit'],
#register_form input[type='reset'] {
	background: #ffffff;
    font-weight: bold;
    font-size: 13pt;
    color: #003274 !important;
    border: 1px solid #0249A5;
    padding: 15px 25px;
    font-family:  Helvetica, Arial, Tahoma, Geneva,Sens-Sarif;
}
input 
{
    margin: 10px;
}
#register_form input:hover 
{
    background-color: #C2DCFF;
}
#register_form a 
{
    color: #003274;
}
#register_form a:hover
{
    color: #0059CE;
}
#email,
#confirmpass,
#password 
{
    direction: ltr;
}
.studstaff,
#gradeli,
.name
{
    margin-bottom: 10px;
}
#register_form label 
{
    margin-right:10px;
}
.buttons li {
	float: right;
}
.buttons input {
	margin-left: 2px;
	margin-right: 2px;
}
.clear
{
    clear:both;
}